<!doctype html>
<html lang="{{ site.locale }}">
{% block head %}{% include 'templates/layouts/helpers/head.twig' %}{% endblock %}
<body {{ fn('body_class') }}>
    {% block header %}{% include 'templates/layouts/helpers/header.twig' %}{% endblock %}

    {% block content %}{{ post.content }}{% endblock %}

    {% block footer %}{% include 'templates/layouts/helpers/footer.twig' %}{% endblock footer %}
</body>
</html>
