<header class="header py-6 px-2 lg:px-0">
    <div class="container mx-auto">
        <figure class="logo-wrapper">
            <a href="{{ site.url }}" title="Orthocenter Check Project">
                {{ include('components/Logo.html.twig') }}
            </a>
        </figure>
    </div>
</header>
